<div class="container-fluid">
  <div class="row">
    <app-create-ingredient-button class="right"></app-create-ingredient-button>
  </div>
  <div class="row">
    <!-- <app-ingredient-table [dataSource]="dataSource"></app-ingredient-table> -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        [(ngModel)]="searchInput"
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <div class="ingredient-table">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="ingredientList" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let ingredient">
              {{ ingredient.price }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="isAllergic">
            <th mat-header-cell *matHeaderCellDef>Allergic</th>
            <td mat-cell *matCellDef="let ingredient">
              <mat-icon *ngIf="ingredient['isAllergic']">warning</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let ingredient; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <app-pagination [pageSizeOptions]="pageSizeOptions"></app-pagination> -->
  </div>
  <mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="length"
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</div>

<!-- [length]="length"
      [pageSize]="pageSize" -->
