.ingredient-table h1{
  font-size: 50px;
  margin-left: 2.3%;
  margin-top: 4%;
}
.ingredient-table div{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 0%;
}
.ingredient-table div table{
  width: 100%;
} 