<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form class="col-md-12 box" [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button type="submit" color="primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
