.create-dish-view{
    width: 100%;
    height: 90vh;
    display: flex;
}
.dish-image{
    margin-top: 8%;
    margin-left: 10%;
}
.dish-image *{
    width: 80%;
}
#drinkMenu-formica{
    position: relative;
    left: -7%;
    top: 5%;
}